.watchlist-container {
  padding: 40px 60px;
}

.watchlist-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.empty-watchlist-message {
  color: #a0a0a0;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
}
